<div class="site-container col-md-6">
  <h2>Add Edition</h2>
  <form novalidate (ngSubmit)="save()" [formGroup]="editionForm">

    <div class ="form-group">
      <label for="brand">Brand:</label>
      <em *ngIf="editionForm.controls.brand?.invalid && (editionForm.controls.brand?.touched)">Required</em>
      <input class="form-control" formControlName="brand" id="brand" type="text" placeholder="brand... (required)" />
    </div>

    <div class ="form-group">
      <label for="name">Name:</label>
      <input class="form-control" formControlName="name" id="name" type="text" placeholder="name..." />
    </div>

    <div class ="form-group">
      <label for="region">Region:</label>
      <input class="form-control" formControlName="region" id="name" type="text" placeholder="region..." />
    </div>

    <div class ="form-group">
      <label for="age">Age:</label>
      <em *ngIf="editionForm.get('age').errors?.age">not a valid age</em>
      <input class="form-control" formControlName="age" id="age" type="number text" placeholder="age..." />
    </div>

    <div class ="form-group">
      <label for="vol">Percentage:</label>
      <em *ngIf="editionForm.get('vol').errors?.vol">not a valid %</em>
      <input class="form-control" formControlName="vol" id="vol" type="number text" placeholder="alcohol %..." />
    </div>

    <div class="form-group">
      <label for="yearBottled">Bottled:</label>
      <em *ngIf="editionForm.get('yearBottled').errors?.year">not a valid year</em>
      <input class="form-control" formControlName="yearBottled" id="yearBottled" type="number text "
        placeholder="year..." />
    </div>

    <div class="barrels-form-group">
      <label for="barrels">Barrel:</label>
      <div id="barrels" formArrayName="barrels" *ngFor="let barrel of barrels.controls; let i=index">
        <div [formGroupName]="i">
          <input class="form-control" formControlName="barrel" id="{{'barrel' + i}}" type="text"
            placeholder="barrel..." />
        </div>
      </div>
      <!-- [disabled]="!lastBarrelFilled() -->
      <button class="btn btn-default" type="button" (click)="addBarrel()">add barrel</button>
    </div>


    <div class="form-group">
      <em *ngIf="(editionForm.controls.name?.invalid && (editionForm.controls.name?.touched)) &&
      (editionForm.controls.age?.invalid && (editionForm.controls.age?.touched))
      ">Either name or age required</em>
      <button class="btn btn-primary" type="submit" style="width:80px"
        [title]="editionForm.valid ? 'Save Edition' : 'Disabled until the form data is valid'"
        [disabled]="!editionForm.valid">Save
      </button>
    </div>

  </form>
</div>
