<div class="site-container col-md-6">
  <h2>Create Edition</h2>

  <form class="edition-form" #newEditionForm="ngForm" (ngSubmit)="saveEdition(newEditionForm.value)"
    autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{'error': newEditionForm.controls.brand?.invalid && newEditionForm.controls.brand?.touched}">
      <label for="brand">Brand:</label>
      <em *ngIf="newEditionForm.controls.brand?.invalid && (newEditionForm.controls.brand?.touched)">Required</em>
      <input (ngModel)="newEdition.brand" name="brand" required id="brand" type="text" class="form-control" placeholder="the brand..." />
    </div>

    <div class="form-group" [ngClass]="{'error': newEditionForm.controls.name?.invalid && newEditionForm.controls.name?.touched}">
      <label for="name">Name:</label>
      <em *ngIf="newEditionForm.controls.name?.invalid && (newEditionForm.controls.name?.touched)">Required</em>
      <input (ngModel)="newEdition.name" name="name" required id="name" type="text" class="form-control" placeholder="the name..." />
    </div>

    <div class="form-group">
      <label for="age">Aged:</label>
      <em *ngIf="newEditionForm.controls.age?.invalid && (newEditionForm.controls.age?.touched)">Weird age...</em>
      <input (ngModel)="newEdition.age" name="age" id="age" type="number" class="form-control" placeholder="age in years..." />
    </div>

    <div class="form-group">
      <label for="yearBottled">Bottled:</label>
      <em *ngIf="(newEditionForm.controls.yearBottled?.invalid) && (newEditionForm.controls.yearBottled?.touched)">Weird year...</em>
      <input (ngModel)="newEdition.yearBottled" name="yearBottled" id="yearBottled" type="number" class="form-control" placeholder="bottled in year..." />
    </div>

    <div [formGroup]="barrelGroup" class="form-group">
      <div formArrayName="barrelArray">
        <div *ngFor="let barrel of barrels.controls; let i = index" >
          <label attr.for="{{ 'barrelId' + i}}">Barrel {{i}}</label>
          <input [formControlName]="barrelName" id="{{ 'barrelId' + i}}" placeholder="kind of barrel...">
        </div>
      </div>
      <button class="btn btn-default" type="button" (click)="addBarrel()">add another barrel</button>
    </div>




    <!-- <div [formGroup]="barrels" class="form-group barrels-form">
      <label for="name"> Barrel:</label>
      <div formArrayName="barrels" *ngFor="let barrel of barrelForm.get('barrels')['controls']; let i = index">
          <input  formControlName="name" placeholder="kind of barrel...">
      </div>
      <button class="btn btn-default" type="button" (click)="addBarrel()">add another barrel</button>
    </div> -->



    <div class="form-group">
      <button type="submit" [disabled]="newEditionForm.invalid"
      class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default"
      (click)="cancel()">Cancel</button>
    </div>



  </form>

</div>
<br>Barrel: {{barrels.get('0.name')?.value}}
