body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: wrap;
  background-color: #491b19;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: max-content;
  min-width: 800px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  color: #ffe1e3;
}

.box {
  border: 2px solid #660b06;
  background-color: #faaaa6;
  border-radius: 7px;
  padding: 5px;
  height: 25px !important;
  width:135px;
  color: #660b06;
}

.nav-item {
  text-align: center;
  font-size: 16px;
  color: black;
  height: 20px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.nav-item a {
  color: #590400;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.box:hover {
  background-color: #ff8882;
}

.site-container {
  margin-top: 70px;
  margin-left: 20px;
  align-items: left;
  text-align: left;
}

h1 {
  color: #ffe1e3;
}

h2 {
  white-space: nowrap;
  overflow-x: auto;
}

h2 p {
  display: inline-block;
}

em {
  float:right; color:#ffe1e3; padding-left:10px;
}

.error input {
  background-color:#faaaa6;
}

.btn {
  padding: 3px;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 7px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b8b8b8;
}

input {
  font-size: 14px;
  padding: 3px;
  border-radius: 10px;
}

label {
  font-size: 18px;
}

.bold {
  font-weight: 600;
}

.deactivated {
  background-color: rgb(223, 223, 223) !important;
}

